// Misc

.pull-right {
  float: right;
}

// Layout

.wrapper {
  width: 700px;
  margin: 0 auto;
}

body {
  background: #333 url(/assets/vertical_cloth_@2X.png) repeat;
}

footer {
  position: relative;
  top: 100%;
  text-align: center;
}

// Task
#tasks {
  list-style: none;
}

.task {
  display: block;
  border: 1px solid #333;
  padding: 0 20px;
  overflow: auto;
  margin: 20px 0;
  background-color: #fff;

  border-radius: 4px 4px 0 0;
}

.task-header {
  overflow: auto;
  cursor: pointer;
  padding: 10px 0;
}

.task-title {
  float: left;
  margin: 0;
}

.task-author,
.task-date {
  display: block;
}

.task-comments {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.task-comment {
  display: block;
  border-top: 1px solid #333;
}
// footer

footer {
  color: #fff;

  span {
    display: block;
  }

  a {
    color: #aaa;
  }
}
