@import "compass/css3";

// Misc

.pull-right {
  float: right;
}

body {
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
}

// Layout

.wrapper {
  width: 700px;
  margin: 0 auto;
}

body {
  background: #333 url(/assets/vertical_cloth_@2X.png) repeat;
}

footer {
  position: relative;
  top: 100%;
  text-align: center;
}

// Task
#tasks {
  list-style: none;
}

.task {
  display: block;
  border: 1px solid #333;
  padding: 0 20px;
  overflow: auto;
  margin: 20px 0;
  background-color: #fff;

  border-radius: 4px 4px 0 0;
}

.task-header {
  overflow: auto;
  cursor: pointer;
  padding: 10px 0;
}

.task-title {
  float: left;
  margin: 0;
}

.task-author,
.task-date {
  display: block;
}

.task-comments {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.task-comment {
  display: block;
  border-top: 1px solid #333;
}

// comment

.comment-duedate {
  display: inline-block;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 0.8em;
  border-width: 1px;
  border-style: solid;
}

$new-duedate-background: #6c0;
$new-duedate-background-darkened: darken($new-duedate-background, 10%);
$old-duedate-background: #ddd;
$old-duedate-background-darkened: darken($old-duedate-background, 10%);
$none-duedate-background: #dd1010;
$none-duedate-background-darkened: darken($none-duedate-background, 10%);

.comment-duedate-previous {
  background-color: $old-duedate-background;
  @include background(linear-gradient($old-duedate-background, $old-duedate-background-darkened 70%));
  color: #666;
  border-color: $old-duedate-background-darkened;
}

.comment-duedate-current {
  background-color: $new-duedate-background;
  @include background(linear-gradient($new-duedate-background, $new-duedate-background-darkened 70%));
  color: #fff;
  border-color: $new-duedate-background-darkened;
}

.comment-duedate-none {
  background-color: $none-duedate-background;
  @include background(linear-gradient($none-duedate-background, $none-duedate-background-darkened 70%));
  color: #fff;
  border-color: $none-duedate-background-darkened;
}

// comments

.task-comment {
  padding: 10px 0;
  overflow: auto;
}

// footer

footer {
  color: #fff;

  span {
    display: block;
  }

  a {
    color: #aaa;
  }
}
